<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
			    <div class="box-header">
	              <h3 class="box-title">用户组列表</h3>
	              <form class="form-horizontal" id="choose_group_search_form">
		              <div class="row">
			               <div class="col-md-12">
						  	<div class="col-md-5">
						  		<div class="form-group">
								    <label for="def_key" class="col-sm-3 control-label">用户组ID</label>
								    <div class="col-sm-9">
								      <input type="text" class="form-control" id="group_id" placeholder="用户组ID" th:value="${groupId}">
								    </div>
							    </div>
						  	</div>
						  	<div class="col-md-5">
						  		<div class="form-group">
								    <label for="def_key" class="col-sm-3 control-label">用户组名</label>
								    <div class="col-sm-9">
								      <input type="text" class="form-control" id="group_name" placeholder="用户组名" th:value="${groupName}">
								    </div>
							    </div>
						  	</div>
						  	<div class="col-md-1">
						  		<button id="search_btn" type="button" style="width:80px;" class="btn btn-block btn-primary">
						  			<i class="fa fa-search"></i>查询
								</button>
						  	</div>
						  </div>
		              </div>
	              </form>
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body">
				  <table id="choose_group_table" class="table table-bordered table-hover dataTable">
				  	<colgroup>
				  		<col width="30px;">
				  		<col width="100px;">
				  		<col width="">
				  	</colgroup>
				    <thead>
					    <tr>
					      <th>&nbsp;</th>
					      <th>用户组ID</th>
					      <th>用户组名称</th>
					    </tr>
				    </thead>
				    <tbody>
					    <tr th:each="group:${groups.list}">
					      <td>
					      	<input type="checkbox" th:if="${mutl}" name="chooseGroup" th:value="${group.groupId}" th:groupName="${group.groupName}">
					      	<input type="radio" th:if="${!mutl}" name="chooseGroup" th:value="${group.groupId}" th:groupName="${group.groupName}">
					      </td>
					      <td th:text="${group.groupId}"></td>
					      <td th:text="${group.groupName}"></td>
					    </tr>
				    </tbody>
				    <tfoot>
				    	<tr>
				    		<td colspan="3">
				    			 <div class="pull-right">
							        <ul id="choose_group_pagination" class="pagination"  th:attr="currentPage=${groups.pageNum},totalPage=${groups.pages}"></ul>
							    </div>
				    		</td>
				    	</tr>
				    </tfoot>
				  </table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>
<script th:src="@{js/workflow/group/choose_list.js}"></script>
