<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxv5.workflow.dao.PDConfigUserMapper">
  <delete id="deleteTaskUserConfigByProcessDefinitionId" >
	DELETE
	FROM
		t_bpmn_pd_user_config
	WHERE
		process_definition_id = #{pdId}
  </delete>
  <insert id="save" parameterType="com.rxv5.workflow.vo.PDUserConfigVo" useGeneratedKeys="true" keyProperty="id"  >
	INSERT INTO t_bpmn_pd_user_config (
		process_definition_id,
		bpmn_id,
		user_id,
		user_name
	)
	VALUES
	(
		#{processDefinitionId},#{bpmnId},#{userId},#{userName}
	)
  </insert>
</mapper>

