<div id="choose_user_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 800px;">
      <div class="modal-header">
        <button type="button"  id="close_btn" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">选择用户</h4>
      </div>
      <div class="modal-body">
         <div id="show_choose_user_div"></div>
      </div>
      <div class="modal-footer">
        <button id="choose_user_cancel_btn" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="choose_user_submit_btn" type="button" class="btn btn-primary">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script th:src="@{js/workflow/user/choose.js}"></script>
